<div role="feed" class="space-y-2">
  @for(m of messagesService.messages(); let i = $index; track m.id){ @if(i ===0)
  {

  <div #topAnchor></div>
  }
  <div
    role="article"
    class="chat"
    [class.chat-end]="isMe(m.uid)"
    [class.chat-start]="!isMe(m.uid)"
  >
    <div class="chat-header">{{isMe(m.uid) ? 'Yo' : m.name}}</div>
    <div
      class="chat-bubble"
      [class.chat-bubble-primary]="isMe(m.uid)"
      [class.chat-bubble-accent]="!isMe(m.uid)"
    >
      {{m.text}}
    </div>
    <div class="chat-footer opacity-50 items-center gap-2"></div>
    <div class="chat-footer opacity-50">
      <span>{{m.timestamp | chatTimestamp}}</span>

      @if(m.location){
      <span>|</span>
      <span
        >{{m.location.lat.toFixed(5)}}, {{m.location.lng.toFixed(5)}}
        <span>|</span>
        <a
          target="_blank"
          [href]="'https://www.google.com/maps?q=' + m.location.lat +','+ m.location.lng"
        >
          Ubicación</a
        >
      </span>
      }
    </div>
  </div>
  }
</div>
